body{
    margin:0;
    background:#222;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.floor-container {
    position: relative;
    width: 100%;
    max-width: 900px;

    /* CRITICAL FIX */
    aspect-ratio: 900 / 600; /* adjust to your SVG image ratio */
}

.floor-image {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;

}

.room {
    position: absolute;
    cursor: pointer;
    transition: .2s;
    background: rgba(79, 173, 117, 0.15);
    border: 2px solid transparent;

    z-index: 10;

    -webkit-tap-highlight-color: transparent;
}

.room:hover{

    background: rgba(79, 173, 117, 0.15);

    border-color:rgb(20, 255, 137);
}

/* Example positions */

.room1301{
    top: 31%;
    left: 2%;
    width: 5%;
    height: 6.1%;

}

.room1302{
    top: 20.4%;
    left: 8.1%;
    width: 5%;
    height: 6.1%;

}

.room1303{
    top: 41.9%;
    left: 11%;
    width: 5%;
    height: 6.1%;

}

.room1304{
    top: 20.4%;
    left: 17%;
    width: 5%;
    height: 6.1%;

}

.room1305{
    top: 41.9%;
    left: 22%;
    width: 5%;
    height: 6.1%;

}

.room1306{
    top: 20.4%;
    left: 26.5%;
    width: 5%;
    height: 6.1%;

}

.room1307{
    top: 41.9%;
    left: 32.5%;
    width: 5%;
    height: 6.1%;

}

.room1308{
    top: 20.4%;
    left: 35.8%;
    width: 5%;
    height: 6.1%;

}


